body {
	padding: 0px;
	margin: 0px;
}

/*.container {
	position: relative;
	width: 100%;
	height: 60px;
}*/
.nav-bar {
	background-image: url("images/Navbar2.png");
	height: 60px;
	width: 100%;
	display: inline-block;
	position: relative;
	}

.left-box {
	height: 60px;
	width: 700px;
	display: inline-block;
	float: left;
}

#logo {
	display: inline-block;
	margin-left: 163px;
	margin-top: 15px;

}

.right-box {
	height: 60px;
	width: 500px;
	display: inline-block;
	float: right;
}

#profile {
	margin-left: 190px;
	margin-top: 4px;
	position: relative;
	display: inline-block;
}

.nav {
	color: white;
	font-size: 1em;
	text-transform: uppercase;
	list-style: none;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
	position: absolute;
	display: inline;
}

.nav li {
	float: left;
	margin-right: 40px;
}

.profile-name {
	color: white;
	font-size: 1em;
	list-style: none;
	float: right;
	margin-top: 20px;
	margin-right: 165px;
	position: relative;
	display: inline;
	padding: 0px;
}

.nav li {
	float: right;
	margin-right: 40px;
}
.container2 {
	display: inline-block;
	width: 100%;
	height: 90px;
}

.head-bar {
	background-color: white;
	height: 90px;
	display: inline-block;
	margin-left: 168.5px;
}

.mid-section {
	background-color: #F2F0EC;
	height: 580px;
	width: 100%;
	display: inline-block;
}

.mid-box {
	height: 490px;
	width: 300px;
	float: right;
	margin-top: 30px;
	margin-right: 168.5px
}

#box-one {
	height: 120px;
	width: 140px;
	display: -webkit-inline-box;
	background-color: #D0CDC7;
}

#box-two {
	height: 120px;
	width: 140px;
	float: right;
	display: inline;
	background-color: #D0CDC7;
}

#box-three {
	height: 35px;
	width: 140px;
	display: -webkit-inline-box;
	background-color: #B5AEA3;
}

#box-four {
	height: 35px;
	width: 140px;
	float: right;
	display: inline;
	background-color: #B5AEA3;
}

.image-box {
	height: 400px;
	width: 622px;
	margin-left: 168.5px;
	margin-top: 30px;
	position: relative;
}

#image-box-one{
	height: 57px;
	width: 622px;
	position: absolute;
	background-color: black;
	opacity: .4;
}

#Mobmessage {
	position: absolute;
	margin-top: 385px;
	height: 43px;
	width: 143px;
	z-index: 100;
}

#image-box-two{
	height: 83px;
	width: 622px;
	background-color: #D0CDC7;
	opacity: .4;
}

.third-section {
	height: 612px;
	background-color: white;
}

.images-block {
	margin-top: 40px;
	margin-left: 168.5px;
	list-style: none;
	display: -webkit-inline-box;
	padding: 0px;
}

#ostrich {
	margin-right: 23px;
}

#ostrich-2 {
	margin-right: 23px;
}

.start-box {
	float: right;
	margin-top: 11px;
	margin-right: 165px;
}

#start-mob {
	height: 213px;
	width: 301px;
}
.footer {
	height: 341px;
	width: 100%;
	background-color: #545352;
	display: inline-block;
}

.grey-button-box {
	height: 200px;
	width: 350px;
	margin-left: 165px;
	margin-top: 61px;
  display: inline-block;
  font-color: black;
}

/*  font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
/*  border: 2px solid rgba(33, 68, 72, 0.59);*/

#button-one {
	height: 40px;
	width: 140px;
	display: -webkit-inline-box;
	background-color: #636362;
	font-color: white;
	border-radius: 5;
	color: white;
	margin-bottom: 13px;
	margin-right: 22px;
	border: 1px solid black;

}


#button-two {
	height: 40px;
	width: 140px;
	display: -webkit-inline-box;
	background-color: #636362;
	font-color: white;
	border-radius: 5;
	color: white;
	border: 1px solid black;
}

#button-three {
	height: 40px;
	width: 140px;
	display: -webkit-inline-box;
	background-color: #636362;
	font-color: white;
	border-radius: 5;
	color: white;
	margin-bottom: 13px;
	margin-right: 22px;
	border: 1px solid black;
}

#button-four {
	height: 40px;
	width: 140px;
	display: -webkit-inline-box;
	background-color: #636362;
	font-color: white;
	border-radius: 5;
	color: white;
	border: 1px solid black;
}

#button-five {
	height: 40px;
	width: 140px;
	display: -webkit-inline-box;
	background-color: #636362;
	font-color: white;
	border-radius: 5;
	color: white;
	margin-bottom: 13px;
	margin-right: 22px;
	border: 1px solid black;
}

#button-six {
	height: 40px;
	width: 140px;
	display: -webkit-inline-box;
	background-color: #636362;
	font-color: white;
	border-radius: 5;
	color: white;
	border: 1px solid black;
}

#button-seven {
	height: 40px;
	width: 140px;
	display: -webkit-inline-box;
	background-color: #636362;
	font-color: white;
	border-radius: 5;
	color: white;
	margin-bottom: 13px;
	margin-right: 22px;
	border: 1px solid black;
}

#button-eight {
	height: 40px;
	width: 140px;
	display: -webkit-inline-box;
	background-color: #636362;
	font-color: white;
	border-radius: 5;
	color: white;
	border: 1px solid black;
}

#button-nine {
	height: 40px;
	width: 140px;
	display: -webkit-inline-box;
	background-color: #636362;
	font-color: white;
	border-radius: 5;
	color: white;
	margin-bottom: 13px;
	margin-right: 22px;
	border: 1px solid black;
}

#button-ten {
	height: 40px;
	width: 140px;
	display: -webkit-inline-box;
	background-color: #636362;
	color
	font-color: white;
	border-radius: 5;
	color: white;
	border: 1px solid black;
}

.connect {
	float: right;
	color: white;
	font-size: .75em;
	width: 209px;
	height: 280px;
	margin-right: 500px;
	margin-top: 28px;
	margin-bottom: 19px;
}

h4.connect {
	font-size: 1.5em;
}

h2 {
	margin-left: 168.5px;
}

table {
	margin-left: 168.5px;
  border-collapse: collapse; 
}

td {
    padding: 9.5px 72px;     /* 10px top & bottom padding, 0px left & right */
    border-width: 1px 0; /*  1px top & bottom border,  0px left & right */
    border-color: darkgrey;
    border-style: solid;
}

a {
	color: white;
	font-family: 'Futura';
	text-decoration: none;
}